/* TodoItem.css */
.todo {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(15, 26, 61);
  padding: 10px 20px;
  margin-bottom: 10px;
}

.todo-text {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 1cm;
  display: flex;
  align-self: center;
}

.todo input[type="checkbox"] {
  transform: scale(1.8) translateY(1px);
  margin: 0 16px 0 0;
  cursor: pointer;
}

.todo-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.delete-btn {
    font-size: 14px;
    background-color: rgb(255, 99, 71); /* Tomato red for delete */
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: rgb(220, 20, 60); /* Crimson red for hover */
  }
  
  .delete-btn:active {
    background-color: rgb(139, 0, 0); /* Dark red for active state */
  }
  
  .delete-btn:focus {
    outline: none;
  }
  